* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --main-bg-color: #0caba880;
  --main-text-color: #023535;
  --items--bg-color: #8c767280;
  --items-text-color: white;
  --outline-dark: black;
  --outline-shadow: darkgray;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;

  _margin: 10px;
  min-height: 100vh;

  font-size: 1.6rem;
  font-family: Roboto, sans-serif;

  color: var(--main-text-color);
  background-color: var(--main-bg-color);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 2.5rem;

  min-height: calc(100vh-18vh);

  max-width: 80vw;
}
