* {
  margin: 0;
  padding: 0;
  color: none;
  opacity: 1;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --main-bg-color: #034159;
  --main-text-color: #d9ccc5;
  --items--bg-color: #02735e;
  --header-footer-color: #025951;
  --items-text-color: white;
  --outline-dark: black;
  --outline-shadow: darkgray;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;

  min-height: 100vh;

  font-size: 1.4rem;
  font-family: Calibri, sans-serif;
  letter-spacing: 0.1rem;
  font-weight: 200;

  color: var(--main-text-color);
  background-color: var(--main-bg-color);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 2.5rem;

  padding: 11vh 0;
  min-height: calc(100vh-18vh);
  max-width: 80vw;
}
