.button {
  background-color: var(--items--bg-color);
  outline-style: solid 1px var(--outline-dark);
  border-radius: 6px;
  padding: 1rem;
}

.button__big {
  grid-row: 3/4;
  grid-column: 2/-2;
  justify-self: center;
  align-self: center;

  padding: 2rem;
}

.card__header-bookmark {
  position: absolute;
  right: 5%;
  top: -2.5rem;

  transform: scale(2);
}

.hidden {
  display: none;
}
