.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 25px;

  position: relative;

  min-width: 80vw;
  min-height: 100vh;
  overflow: hidden;

  background-color: olivedrab;
}

.form__label {
  position: absolute;
  left: 0;

  font-size: 2rem;
  font-weight: bold;
}

.form__field {
  min-width: 60vw;
  min-height: 20vh;

  position: absolute;
  right: 0;

  border: 1px solid var(--outline-dark);
  border-radius: 6px;
}

.form__field[placeholder] {
  color: grey;
}
