.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  min-height: ;

  _background-color: olivedrab;
}

.about__header {
  display: flex;
  justify-content: space-between;

  background-color: orange;
}

.about__pic {
  transform: scale(0.25);
  border-radius: 50%;
  align-self: flex-start;
}
