.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 80vw;

  background-color: orange;
}
.about__header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  max-height: 20vh;

  position: fixed;
  top: 9vh;
}

.about__pic {
  height: 200px;
  border-radius: 25%;
  max-width: 35vw;

  background-color: blue;
}

.about__headline-2 {
  max-width: 35vw;
  font-size: 1.8rem;
}
