.footer {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--header-footer-color);
  min-width: 100vw;
  min-height: 9vh;

  position: fixed;
  bottom: 0;
  z-index: 10;
}

.site {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 100%;
  min-height: inherit;
}

.site__img {
  min-width: 25vw;
  max-height: 9vh;
  align-self: center;

  filter: brightness(7);
}
