.footer {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--header-footer-color);
  min-width: 100vw;
  min-height: 9vh;

  position: fixed;
  bottom: 0;
  z-index: 10;
}
