.card {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;

  position: relative;

  background-color: var(--main-bg-color);
  border-radius: 0.6rem;
  box-shadow: 4px -3px var(--outline-shadow);

  padding: 5%;
}

.card__headline,
.card__question,
.card__answer,
.card__footer-box {
  width: 100%;
}

.card__footer-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.5rem;

  max-width: 100%;
  padding: 0.5rem;
}

.card__footer-tag {
  background-color: var(--items-bg-color);
  border: 0.5px solid var(--main-bg-color);
  border-radius: 6px;

  padding: 1rem;

  list-style: none;

  font-size: 1.8rem;
}
