.button {
  color: var(--main-text-color);
  background: linear-gradient(to bottom right, #32305099 0%, #45214A99 100%);
  
  border-radius: 6px;
  border-color: var(--main-bg-color);
  
  padding: 1rem;
  text-transform: uppercase;
}

.button__big {
  grid-row: 3/4;
  grid-column: 2/-2;
  justify-self: center;
  align-self: center;

  padding: 2rem;

  box-shadow: 3px -2px var(--outline-shadow);
}

